
<mat-toolbar color="white">
    <img class="logo" src="assets/inf-logo-2.0.svg">

    <a class="title" routerLink="/home"> Visualização de Dados Públicos </a>

    <span class="toolbar-spacer"></span>
    <button mat-icon-button routerLink="/home" aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>home</mat-icon>
    </button>
    <button routerLink="/projects" mat-button>Projetos</button>
    <!--<button routerLink="/about" mat-button>Sobre</button>-->

</mat-toolbar>