<div fxLayout="column wrap" fxLayoutAlign="center left" fxFlex="100">
    <h1>Visualização de Dados Públicos</h1>

    <h2>Sobre</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt dui vel dignissim malesuada. Proin
        sed
        faucibus sapien. Duis dignissim et dui in blandit. Morbi ultricies massa risus, id porta sapien vehicula vel.
        Etiam nec
        ipsum consequat, sodales dui ac, venenatis neque. Etiam mollis vehicula urna id aliquam. Orci varius natoque
        penatibus
        et magnis dis parturient montes, nascetur ridiculus mus. Morbi faucibus justo nibh. Sed volutpat lobortis diam
        in
        feugiat.
    </p>
    <p>
        Vestibulum sagittis lacus mi, sed congue felis gravida in. Aenean pretium, nisi et vestibulum iaculis, est nisi
        elementum tortor, et faucibus lorem magna vitae ipsum. Pellentesque fringilla efficitur metus ac porttitor.
        Praesent
        commodo, velit et ultrices tristique, eros nulla interdum arcu, sit amet feugiat turpis massa eget neque. Sed
        mattis
        porttitor tortor euismod bibendum. Sed sit amet sapien non tellus lacinia molestie sed et nibh. Vivamus
        fringilla, nulla
        ut iaculis imperdiet, dui elit faucibus ipsum, in iaculis quam diam ut est. Aliquam tristique est ac nisi
        tristique, non
        maximus massa rhoncus. Mauris nisl sem, mollis nec aliquam sit amet, facilisis ut enim. Curabitur sit amet
        mattis sem,
        sit amet ullamcorper libero. Pellentesque mattis vitae risus non sollicitudin. Cras eleifend felis venenatis
        lacus
        sagittis, in rutrum est tempus. Cras non orci ac odio vehicula molestie id a odio. Aliquam eu mauris tincidunt,
        hendrerit libero id, scelerisque neque.
    </p>
    
</div>

<ng-template #loading>
    <div>Loading ...</div>
</ng-template>