<div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="100">
    <h1>Publications</h1>
    <div *ngIf="publications$ | async as publications; else loading" fxFlex="1 1 auto" fxLayout="column wrap"
        fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="100">
        <app-project-filters class="project-filters-container" [tags]="getListOfTags(publications)"
            (selectedTag)="onTagSelected($event)"></app-project-filters>
        <app-publication-item *ngFor="let publication of filterPublicationsBySelectedTag(publications)" [publication]="publication"></app-publication-item>
    </div>
</div>


<ng-template #loading>
    <div>Loading ...</div>
</ng-template>